<div class="container">
    <div class="search-container">
      <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
        <input autocomplete="off" class="form-control search" name="q" placeholder="search for notes" required="required" type="text">
      </form>
    </div>
    <div class="menu">
      <div class="tiles">
        <div class="public">public notes</div>
        <a href="#" class="button">Note1</a>
        <a href="#" class="button">Note2</a>
      </div>
      <div class="tiles">
        <div class="private">my notes</div>
        <a href="#" class="button">Note1</a>
        <a href="#" class="button">Note2</a>
      </div>
    </div>
  </div>