
.container  {
  align-self: center;
}

.search-container {
  justify-self: center;
  margin-bottom: 15px;
}
  
.search {
  border: none;
  border-bottom: 3px solid rgb(86, 94, 101);
  height: 46px;
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(243, 244, 245);
  color: rgb(174, 180, 184);
  width: 70%;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: rgb(174, 180, 184);
}


input {
  border: none;
}


.menu {
  min-width: auto;
  display: flex;
  flex-direction: row;

}

.tiles {
    padding: 0.5em;
  display: flex;
  flex-direction: column;
  }

.button  {
  text-decoration: none;
  background-color: rgb(86, 94, 101);
  color: rgb(218, 220, 222);
  padding: 7px 30px;
  cursor: pointer

}
.public {
  background: lightblue;
  color: rgb(86, 94, 101);
  padding: 7px 30px;
}
.private {
  background-color: rgb(150, 200, 149);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
}
a:hover {
  background-color: #343c43;
}
