/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.icon-btn 
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 6px 10px; /* Some padding */
    margin-top: 1em;
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */


/* Darker background on mouse-over */
.icon-btn:hover 
    background-color: RoyalBlue;
