<div class="user-settings container">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
    placeholder="Account email" [{ngModel}]="acc">
    <button class="icon-btn" (click)="changeAccountEmail()"><i class="fa fa-save"></i></button>
  <form>
    <div class="form-group">
      <label for="oldPass">Old password</label>
      <input type="password" class="form-control" id="oldPass" formControlName="oldPassword" placeholder="">
    </div>
    <div class="form-group">
      <label for="newPass">New password</label>
      <input type="password" class="form-control" id="newPass" formControlName="newPassword" placeholder="">
    </div>
    <div class="form-group">
      <label for="confirmPass">Confirm password</label>
      <input type="password" class="form-control" id="confirmPass" formControlName="confirmPassword" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>
</div>