<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text bottom-info">
    <span class="bottom-elem">  Made by <i class="fa fa-heart"></i> Wiktor Dębski</span>
    <a class="bottom-elem" href="https://bitbucket.org/dewiktor/consumingcore/src/master/ConsumingFrontend/" target="_blank">
      <i class="fa fa-bitbucket"></i>
    </a>
    <a class="bottom-elem" href="https://github.com/dewiktor2" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </div>
</nav>