<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/"> <i class="fa fa-sticky-note"></i></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"></a>
      <a class="nav-item nav-link" href="/notes">Notes</a>
      <a class="nav-item nav-link" href="/admin">Panel</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/settings">
        <i class="fa fa-cogs"></i>
      </a>
    </div>
  </div>
</nav>